@import "~bootstrap/dist/css/bootstrap.css";
@import 'vue-select/dist/vue-select.css';


:root{
	--vs-line-height: 1.5;
	--vs-font-size: 1rem;

}

body {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,13,213,1) 41%, rgba(0,212,255,1) 100%);
	margin: 0;
	padding: 0;
}
.container-color {
	background-color: #f0f4f7 !important;
}

.component {
	margin-bottom: 0.5rem !important;
	margin-top: 3rem !important;
	height: auto ;
}

.component-flex {
	display: flex !important;
	flex-wrap: wrap !important;
}
.color-main, .icon-color {
	color: rgba(13,13,213,1)!important
}

.active {
	z-index: 2 !important;
	color: #f0f4f7!important;
	background-color: rgba(13,13,213,1)!important;
	border-color: rgba(13,13,213,1)!important;
}

.link-primary {
	color: RGBA(13,13,213,1) !important;
	-webkit-text-decoration-color: RGBA(var(--bs-primary-rgb), var(--bs-link-underline-opacity, 1)) !important;
	text-decoration-color: RGBA(var(--bs-primary-rgb), var(--bs-link-underline-opacity, 1)) !important;
}

.form-check-input {
	flex-shrink: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.25em;
	vertical-align: top;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid rgba(13,13,213,1);
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	print-color-adjust: exact;
}

.form-check-input:checked {
	background-color: rgba(13,13,213,1)!important;
	border-color: rgba(13,13,213,1)!important;
}

/* V-SELECT ----------------------------------------------------------------*/
.select-styles .vs__dropdown-toggle {
	background: white;
	border: 1px solid rgba(13,13,213,1);
	border-radius: 50rem;
	padding-right: 20px;
	padding-left: 10px;
	line-height: unset;
	height: 38px;
}

.select-styles .vs__dropdown-menu {
	border-bottom-left-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
	margin-left: 10px !important;
	width: 95% !important;
	overflow-x:hidden;
	line-height: unset;
}
.select-styles .vs__dropdown-option {
	text-wrap: wrap;
	white-space: unset;

}
/* V-SELECT ----------------------------------------------------------------*/

.hr {
	height: 3px!important;
	width: 100% !important;
	background-color: rgba(13,13,213,1)!important;
}

.product-description {
	display: -webkit-box !important ;
	-webkit-line-clamp: 2 !important ;
	-webkit-box-orient: vertical !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	cursor: pointer !important;
}

.border-radius,
.rounded-container{
	border-radius: 20px;
}

.border-1-solid-white {
	border: 1px solid #e3e8ef;
}